.ContainerGeneralMatchResults{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.GeneralMatchResults{
    height: 500px;
    background-color: #0c153b;
    border-radius: 80px;
}

.containerMatchs{
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.imageIcon{
    width: 80px;
    height: 80px;
}

.generalMatchesScrollContent{
    overflow: auto;
    height: 500px
}

.ContainerImageLeague{
    display: flex;
    border-bottom: 2px solid white;
    width: 100%;
    margin-bottom: 40px;
}

.ContainerImageLeague img{
    width: 80px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.ContainerImageLeague h2{
font-size: 26px;
color: white;
}
.ContainerSoccerGeneral{
    background-color: #0c153b;
    border-radius: 80px;
    padding: 20px;
    width: 19%;
}

.ContainerBaloncestoGenerals{
    background-color: #0c153b;
    border-radius: 80px;
    padding: 20px;
    width: 19%;
}